* {
  box-sizing: border-box;
  margin: 0;


  // background-color: #fafbfc;
}

body {
  font-size: 14px;
  line-height: 20px;
  font-family: helvetica, sans-serif;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: helvetica, sans-serif;
  margin: 0;
  line-height: 1;
}

ul {
  padding: 0;
}

li {
  font-family: helvetica, sans-serif;
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
