.fs12-lh16 {
    font-size: 0.75rem;  
    line-height: 1rem;
}

.fs12 {
    font-size: 0.75rem;  
}

.pad-y-8 {
    padding: 0.5rem 0 0.5rem;
}


.pad-y-13 {
    padding: rem(13px) 0 rem(13px);
}

//colors